#--------------------------------------------------
# Le serveur doit suivre les liens symboliques :
#--------------------------------------------------
Options +FollowSymlinks

#--------------------------------------------------
# Activation du module de réécriture URL :
#--------------------------------------------------
RewriteEngine on



#--------------------------------------------------
#Redirection liste articles
#--------------------------------------------------
RewriteRule ^rubrique-([0-9]+)-([0-9]+)$   listearticle.php?cat=$1&numPage=$2 [L]
RewriteRule ^rubrique-([0-9]+)$   listearticle.php?cat=$1&numPage=1 [L]

#--------------------------------------------------
#Redirection article
#--------------------------------------------------
RewriteRule ^article-([0-9]+)$   article.php?article=$1 [L]



#--------------------------------------------------
#Redirection album photos
#--------------------------------------------------
RewriteRule ^albums-([0-9]+)$   listealbums.php?cat=11&numPage=$1 [L]
RewriteRule ^albums$   listealbums.php?cat=11&numPage=1 [L]


#--------------------------------------------------
#Redirection livre or
#--------------------------------------------------
RewriteRule ^livreor-([0-9]+)$   livredor.php?cat=10&numPage=$1 [L]
RewriteRule ^livreor$   livredor.php?cat=10&numPage=1 [L]


#--------------------------------------------------
#Redirection personnages clé
#--------------------------------------------------
RewriteRule ^personnages-([0-9]+)$   personne.php?cat=12&numPage=$1 [L]
RewriteRule ^personnages$   personne.php?cat=12&numPage=1 [L]


#--------------------------------------------------
#Redirection historique / liste equipe
#--------------------------------------------------
RewriteRule ^historique-([0-9]+)$   listeequipes.php?cat=14&numPage=$1 [L]
RewriteRule ^historique$   listeequipes.php?cat=14&numPage=1 [L]


#--------------------------------------------------
#Redirection erreur
#--------------------------------------------------
RewriteRule ^erreur-([0-9])$   erreur.php?code=$1 [L]

#--------------------------------------------------
#Redirection index
#--------------------------------------------------
RewriteRule ^home$   index.php [L]


#--------------------------------------------------
#Redirection recherche
#--------------------------------------------------
RewriteRule ^recherche=(.*?)$   search.php?w=$1 [L]







