#header
{
	border: solid;
}

#logo
{
	border: solid;
	width: 20%;
}

#topheader
{
	text-align: right;
}

#footer
{
	borer:solid;
	text-align: center;
}

#formsearch
{
	display: inline;
}

#slider
{
	margin: 30px;
	border: dashed;
	text-align: center;
}